<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Hardik Kubavat">


    <title>{% block title %} Asset Tracking {% endblock %} </title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/starter-template/">

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='bootstrap.css') }}" rel="stylesheet">

    <link href="{{ url_for('static', filename='DataTables/datatables.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='starter-template.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='jquery-ui.css') }}" rel="stylesheet">

    <!-- Custom CSS-->
    <link href="{{ url_for('static', filename='custom.css') }}" rel="stylesheet">

    <!-- Javascripts Files-->
    <script src="{{ url_for('static', filename='jquery-3.2.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='popper.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap-notify.js') }}"></script>
    <script src="{{ url_for('static', filename='DataTables/datatables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery-ui.js') }}"></script>

    <!--Custom Javascripts File-->
    <script src="{{ url_for('static', filename='utility.js') }}"></script>

    <script src="{{ url_for('static', filename='DataTables/Buttons-1.6.3/js/dataTables.buttons.js') }}"></script>
    <script src="{{ url_for('static', filename='DataTables/Buttons-1.6.3/js/buttons.html5.js') }}"></script>
    <link href="{{ url_for('static', filename='DataTables/Buttons-1.6.3/css/buttons.dataTables.css') }}" rel="stylesheet">

    <!-- Date Picker -->
    <script src="{{ url_for('static', filename='bootstrap-datepicker-1.9.0/js/bootstrap-datepicker.min.js') }}"></script>
    <link href="{{ url_for('static', filename='bootstrap-datepicker-1.9.0/css/bootstrap-datepicker.min.css') }}" rel="stylesheet">

</head>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="{{ url_for('navigation.search') }}">Asset Tracking</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('navigation.search') }}">Dashboard<span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('navigation.product') }}"> Asset</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('navigation.allocation') }}"> Allocation</a>
            </li>
            <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Masters</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" href="{{ url_for('navigation.producttype') }}">Product Type</a>
                    <a class="dropdown-item" href="{{ url_for('navigation.category') }}">Category</a>
                    <a class="dropdown-item" href="{{ url_for('navigation.locater') }}">Locater</a>
                    <a class="dropdown-item" href="{{ url_for('navigation.user') }}">User</a>
                </div>
            </li>
            <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Reports</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" href="report/locaterwise" target="_blank"> By Locater</a>
                    <a class="dropdown-item" href="report/producttypewise" target="_blank">By Product Type</a>
                    <a class="dropdown-item" href="report/categorywise" target="_blank">By Category</a>
                    <a class="dropdown-item" href="report/notworkingasset" target="_blank">Not Working Asset</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('navigation.servicecall') }}"> Service Call</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" placeholder="Search" aria-label="Search" type="text" />
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<section class="content">
    <header>
        {% block header %}{% endblock %}
    </header>
    {% block content %} {% endblock %}
</section>