{% extends "base.html" %} {% block content %}
<main role="main" class="container">
    <div id="result" class="alert alert-success text-center collapse">Record Saved Successfully</div>
    <div class="row">
        <div class="col text-right pb-1">
            <button type="button" class="btn btn-primary" data-toggle="modal" href="#createcategory" role="button" data-target="#locatermodal"> Create </button>
        </div>
    </div>
    <hr>

    <table id="locatertable" class="table table-hover display table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>

    </table>

    <div class="modal fade bd-example-modal-lg" id="locatermodal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="locatermodaltitle">Locater</h5>
                    <button type="button" class="close" data-dismiss="modal" area-label="close">
            <span area-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body">
                    <form id="locaterform">
                        <div class="row">
                            <div class="col">
                                <input type="hidden" name="locater_id" id="locater_id" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <input type="text" name="name" id="name" class="form-control form-control-sm" placeholder="Locater name" required />
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col">
                                <input type="textarea" name="description" id="description" class="form-control form-control-sm" placeholder="Description" />
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col text-right">
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
</main>

<script>
    $("#locaterform").submit(function(e) {
        e.preventDefault();
        let formData = $(this).serialize();

        $.ajax({
            method: "post",
            url: "locater/add",
            data: formData,
            success: function(data) {
                $("#locatermodal").modal('hide');
                $("#locaterform").trigger("reset");
                notifySuccess("Record Saved Successfully");
                $('#locatertable').DataTable().ajax.reload();
                console.log(data)
            },
            error: function(data) {
                console.log(data)
                notifyFailure("There is an error while saving record." + data);
            }
        })
    })

    function onEdit(locater_id) {
        $.ajax({
            method: "get",
            url: "locater/get/" + locater_id,
            success: function(data) {
                $("#name").val(data.name)
                $("#description").val(data.description)
                $("#locater_id").val(data.id)
                $("#locatermodal").modal('show');
            },
            error: function() {
                notifyFailure("There is an error while processing. Contact Administrator.");
            }
        })
    }

    $('#locatermodal').on('hidden.bs.modal', function() {
        $("#locaterform").trigger("reset");
    })
    $("#locatermodal").on('shown.bs.modal', function() {
        $('#name').trigger("focus");
    });

    $(document).ready(function() {
        var table = $('#locatertable').DataTable({
            columnDefs: [{
                targets: "_all",
                className: 'text-center'
            }],
            "ajax": 'locater/get_data',
            "columns": [{
                "data": "name"
            }, {
                "data": "description"
            }, {
                "data": "id",
                render: function(data, type, row) {
                    return '<a id=' + data + ' href="#' + data + ' " onclick="onEdit(' + data + ')">Edit</a>';
                }
            }, {
                "data": "id",
                render: function(data, type, row) {
                    return '<a id=locaterid_' + data + ' href="locater/delete/' + data + '">Delete</a>';
                }
            }],
            "lengthMenu": [
                [10, 25, 50, -1],
                [10, 25, 50, "All"]
            ]

        });
    });
</script>
{% endblock %}