{% extends "base.html" %} {% block content %}
<main role="main" class="container">
    <div id="result" class="alert alert-success text-center collapse">Record Saved Successfully</div>
    <div class="row">
        <div class="col text-right pb-1">
            <button type="button" class="btn btn-primary" data-toggle="modal" href="" role="button" data-target="#producttypemodal"> Create </button>
        </div>
    </div>
    <hr>

    <table id="producttypetable" class="table table-hover display table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>

    </table>

    <div class="modal fade bd-example-modal-lg" id="producttypemodal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="producttypemodaltitle">Product Type</h5>
                    <button type="button" class="close" data-dismiss="modal" area-label="close">
            <span area-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body">
                    <form id="ptform">
                        <div class="row">
                            <div class="col">
                                <input type="hidden" name="product_type_id" id="product_type_id" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <input type="text" name="name" id="name" class="form-control form-control-sm" placeholder="Product Type" required />
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col">
                                <input type="textarea" name="description" id="description" class="form-control form-control-sm" placeholder="Description" />
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col text-right">
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
</main>

<script>
    $("#ptform").submit(function(e) {
        e.preventDefault();
        let formData = $(this).serialize();

        $.ajax({
            method: "post",
            url: "producttype/add",
            data: formData,
            success: function(data) {
                $("#producttypemodal").modal('hide');
                $("#ptform").trigger("reset");
                notifySuccess("Record Saved Successfully");
                $('#producttypetable').DataTable().ajax.reload();
                console.log(data)
            },
            error: function(data) {
                console.log(data)
                notifyFailure("There is an error while saving record." + data);
            }
        })
    })

    function onEdit(product_type_id) {
        $.ajax({
            method: "get",
            url: "producttype/get/" + product_type_id,
            success: function(data) {
                $("#name").val(data.name)
                $("#description").val(data.description)
                $("#product_type_id").val(data.id)
                $("#producttypemodal").modal('show');
            },
            error: function() {
                notifyFailure("There is an error while processing. Contact Administrator.");
            }
        })
    }

    $('#productypemodal').on('hidden.bs.modal', function() {
        $("#categoryform").trigger("reset");
    })
    $("#producttypemodal").on('shown.bs.modal', function() {
        $('#name').trigger("focus");
    });

    $(document).ready(function() {
        var table = $('#producttypetable').DataTable({
            columnDefs: [{
                targets: "_all",
                className: 'text-center'
            }],
            "ajax": 'producttype/get_data',
            "columns": [{
                "data": "name"
            }, {
                "data": "description"
            }, {
                "data": "id",
                render: function(data, type, row) {
                    return '<a id=' + data + ' href="#' + data + ' " onclick="onEdit(' + data + ')">Edit</a>';
                }
            }, {
                "data": "id",
                render: function(data, type, row) {
                    return '<a id=product_type_id_' + data + ' href="producttype/delete/' + data + '">Delete</a>';
                }
            }],
            "lengthMenu": [
                [25, 50, -1],
                [25, 50, "All"]
            ]

        });
    });
</script>
{% endblock %}